[env]
# ra6m3
CC = "/opt/arm-none-eabi-gcc-11.2.0/bin/arm-bare_newlib_cortex_m4f_nommu-eabihf-gcc"
LD = "/opt/arm-none-eabi-gcc-11.2.0/bin/arm-bare_newlib_cortex_m4f_nommu-eabihf-gcc"
AR = "/opt/arm-none-eabi-gcc-11.2.0/bin/arm-bare_newlib_cortex_m4f_nommu-eabihf-ar"
FSP_PATH = "/home/ddystopia/job/fw-micrortu/dep/fsp";
CMSIS_PATH = "/home/ddystopia/job/fw-micrortu/dep/cmsis5";
FSP_CFG = "/home/ddystopia/code/ra6m3-rtic/fsp_cfg";
BINDGEN_EXTRA_CLANG_ARGS = "--sysroot=/opt/arm-none-eabi-gcc-11.2.0/arm-bare_newlib_cortex_m4f_nommu-eabihf"

# adding `-O1 \` seems to cut 5K down. Os is the same as not put anything, 4 bytes difference.
CFLAGS = """\
  -isysroot=/opt/arm-none-eabi-gcc-11.2.0/arm-bare_newlib_cortex_m4f_nommu-eabihf \
  -Wall -mlittle-endian -mthumb -mcpu=cortex-m4 -mfloat-abi=hard -mfpu=fpv4-sp-d16 -mno-unaligned-access --std=gnu11 \
  -ffunction-sections -fdata-sections -Woverride-init -fno-short-enums"""

# Constants for application
MAC = "fe:e3:a9:97:ad:ab"
IP_V4 = "192.168.69.100/24"
IP_V4_GATEWAY = "192.168.69.1"
IP_V6 = "fdaa:0000:0000:0000:0000:0000:0000:100/64"
IP_V6_GATEWAY = "fdaa:0000:0000:0000:0000:0000:0000:1"
MQTT_CLIENT_ID = "rtic"
MQTT_BROKER_IP = "192.168.69.20"
MQTT_BROKER_PORT_TLS = "8883"
MQTT_BROKER_PORT_TCP = "1883"

